
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuth() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuth() && get(/databases/$(database)/documents/user_roles/$(request.auth.uid)).data.role == 'admin';
    }

    match /students/{studentId} {
      allow read, write: if isAuth();
    }

    match /teachers/{teacherId} {
        allow read: if isAuth();
        allow write: if isAdmin();
    }

    match /payments/{paymentId} {
        allow read, write: if isAuth();
    }

    match /expenses/{expenseId} {
        allow read, write: if isAuth();
    }

    match /attendance/{attendanceId} {
        allow read, write: if isAuth();
    }

    match /institution_settings/default {
        allow read: if true;
        allow write: if isAdmin();
    }

    match /user_roles/{userId} {
        allow read: if isAdmin() || (isAuth() && request.auth.uid == userId);
        allow create: if isAuth() && request.auth.uid == userId;
        allow update: if isAdmin() || (isAuth() && request.auth.uid == userId && request.resource.data.role == resource.data.role && request.resource.data.permissions == resource.data.permissions);
        allow delete: if isAdmin() && request.auth.uid != userId;
    }

    match /user_roles_by_role/admin {
        allow read: if isAuth();
        allow create: if isAuth();
        allow update, delete: if false;
    }
  }
}
