@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 222.2 84% 4.9%;
    --card: 208 100% 97%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 208 100% 97%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 197 71% 60%;
    --primary-foreground: 222.2 84% 4.9%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 40% 45.1%;
    --accent: 188 55% 92%;
    --accent-foreground: 222.2 84% 4.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 89.8%;
    --input: 210 40% 89.8%;
    --ring: 197 71% 60%;
    --radius: 0.5rem;
    --chart-1: 197 71% 60%;
    --chart-2: 220 70% 50%;
    --chart-3: 188 55% 80%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 208 100% 95%;
    --sidebar-foreground: 222.2 84% 4.9%;
    --sidebar-primary: 197 71% 60%;
    --sidebar-primary-foreground: 222.2 84% 4.9%;
    --sidebar-accent: 188 55% 90%;
    --sidebar-accent-foreground: 222.2 84% 4.9%;
    --sidebar-border: 210 40% 85.8%;
    --sidebar-ring: 197 71% 60%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 0 0% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 197 71% 60%;
    --primary-foreground: 222.2 84% 4.9%;
    --secondary: 210 40% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 40% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 210 40% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 14.9%;
    --input: 210 40% 14.9%;
    --ring: 197 71% 60%;
    --chart-1: 197 71% 60%;
    --chart-2: 220 70% 50%;
    --chart-3: 188 55% 80%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 197 71% 60%;
    --sidebar-primary-foreground: 222.2 84% 4.9%;
    --sidebar-accent: 210 40% 14.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 210 40% 14.9%;
    --sidebar-ring: 197 71% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
